*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;

}



nav{
	display: flex;
	background-image: linear-gradient(-120deg,dodgerblue,blue);
	position: sticky;
/*	top: 0;*/
}

nav a{
	text-align: center;
	padding: 14px 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

nav a:hover{
	color: white;
	background: black;
}

@media screen and (max-width:500px){
	nav{
		flex-direction: column;
/*		position: none;*/
	}

}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	text-align: center;

	flex-direction: column;
	background-image: linear-gradient(120deg,black,dodgerblue);
/*background-image: url('ai.gif');*/
/*background-image: url("https://www.cdotrends.com/sites/default/files/AI%20Race.jpg");*/
background-repeat: no-repeat;
background-size: 100%;
/*	height: 80vh;*/
}

header img{
	width: 15.5em;
/*	box-shadow: 4px 5px 10px black;*/
/*background-color: rgba(0, 0, 0, 0.3);*/
}

header h1{
	color: white;
	text-shadow: 3px 4px 6px black;
}

header p{
	color: white;
	font-weight: bold;
/*	padding: 20px;*/
	background-color: black;
	padding: 10px 15px;
	border-radius: 10px;
}

#startBtn{
	background-color: black;
	color: whitesmoke;
	font-size: 1.2em;
	padding: 15px 20px;
	border-radius: 50px;
	border: none;
}

#startBtn:hover{
	background-color: white;
	color: black;
}

#result{
	width: 20em;
/*	font-size: 1.5em;*/
	padding: 20px 0px;
/*	font-size: 2em;*/
/*	margin: 0 auto;*/
	color: black;
	background-color: white;
/*	font-family: sans-serif;*/
	border: 4px soild grey;
	border-radius: 10px;
/*	box-shadow: 6px 4px 5px black;*/
/*	margin-bottom: 30px;*/
}


.sectionimg{
/*	flex-basis: 100%;*/
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: black;
}

.sectionimg img{
/*	flex-basis: 30%;*/
height: 30vh;
/*height: 30em;*/
margin: 5px;
filter: grayscale(90%);
}


.sectionimg img:hover{
	filter: grayscale(0%);
}

.about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 40px 30px 50px;
	text-align: center;
	background-color: rgba(0, 0, 0,0.5);
	color: white;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 0px;
	flex-basis: 400px;
	background-color: black;
/*	font-size: 5em;*/
}

form h2{
	color: white;
}

form input{
	padding: 7px 20px;
	border-radius: 5px;
	border: none;
	font-size: 1.1em;
	width: 20rem;
}


textarea{
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	font-size: 1.2em;
}

.btn button{
	padding: 7px 20px;
	border-radius: 5px;
	font-size: 1.1em;
	color: whitesmoke;
	background-color: dodgerblue;
	border: none;
	font-weight: bold;
	margin: 5px;

}

.btn button:hover{
	background-color: white;
	color: black;
}


footer{
/*	width: 100%;*/
/*	position: relative;*/
	border: 0;
	background-color: grey;
	box-shadow: 6px 7px 10px white;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	padding: 20px 0px;
}
